body {
  margin: 0;
  font-family: "Source Serif 4", serif;
  overflow-x: hidden;
}

body.locked {
  overflow: hidden;
}

.accordion:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
span {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.aboutPagePadding {
  padding-top: 40px !important;
}

.header {
  background: white;
  padding: 32px 16px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(2, 25, 57, 1);
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 191px;
  height: 80px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-list a {
  font-family: "Source Serif 4";
  font-size: 16px;
  color: rgba(2, 25, 57, 1);
  text-decoration: none;
  font-weight: 500;
}

.nav-list a.active {
  font-weight: 700;
}

.language-select {
  position: relative;
  width: 44px;
  font-family: "Source Serif 4";
  font-weight: 700;
  color: rgba(2, 25, 57, 1);
  cursor: pointer;
  font-size: 16px;
}

.selected-lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(2, 25, 57, 1);
  gap: 4px;
  padding-bottom: 4px;
}

.selected-lang span {
  font-size: 16px;
}

.arrow {
  margin-left: 6px;
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.language-options {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border-top: none;
  display: none;
  flex-direction: column;
  gap: 5px;
  z-index: 100;
  padding-top: 4px;
}

.language-options span {
  font-size: 16px;
}

.language-select.open .language-options {
  display: flex;
}

.language-select.open .arrow {
  transform: rotate(180deg);
}

.lang-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  font-family: "Source Serif 4", serif;
  font-weight: 700;
  color: #0e1b33;
  cursor: pointer;
  position: relative;
  padding-right: 16px;
}

.lang-select:focus {
  outline: none;
}

.lang-select-wrapper {
  position: relative;
}

.lang-select-wrapper::after {
  content: "▾";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #0e1b33;
  pointer-events: none;
}

.lang-select option {
  background: #fff;
  color: #0e1b33;
  font-weight: 600;
}

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 3px;
  width: 25px;
  background: #111;
  border-radius: 2px;
}

.toggle-wrapper {
  display: none;
}

.closeButton {
  display: none;
}

/* footer */
footer {
  background-color: rgba(2, 25, 57, 1);
  font-family: "Source Serif 4";
  color: white;
  padding: 60px 16px;
  /* display: flex; */
  width: 100%;
  box-sizing: border-box;
  /* justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; */
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 63px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  font-size: 14px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-right {
  text-align: right;
  font-size: 16px;
}

.footer-right h4 {
  margin: 0 0 12px;
  font-size: 16px;
  font-weight: 700;
}

.footer-right p {
  padding-bottom: 12px;
}

.social-icons {
  margin-top: 9px;
}

.social-icons a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* sectionWrapper */
.sectionWrapper {
  padding: 0 16px;
  padding-top: 120px;
  box-sizing: border-box;
}

.sectionWrapper p {
  font-family: "Source Serif 4";
  font-size: 18px;
  font-weight: 400;
}

/* .slide p {
  width: 87%;
} */

.sectionWrapper h2 {
  padding-bottom: 40px;
  font-size: 48px;
  font-family: "Prata";
  color: rgba(2, 25, 57, 1);
  font-weight: 400;
}

.sectionWrapper h2:hover {
  background: linear-gradient(90deg, #1f477f 0%, #06469f 41.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionWrapper .noHover:hover {
  color: rgba(2, 25, 57, 1) !important;
  background: none !important;
  -webkit-background-clip: initial !important;
  -webkit-text-fill-color: initial !important;
}

.containerSection {
  display: block;
}

.MinPadding {
  padding-bottom: 24px !important;
}

.contentAbout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: rgba(38, 38, 38, 1);
}

.WrapperForImageAbout {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.LeftImageMargin {
  margin-right: 20px;
}

.WrapperForImageAbout img {
  flex: 1 1 0;
  max-width: calc(50% - 10px);
  height: auto;
  object-fit: contain;
}

/* Bunner */

.buttonNonColor {
  background: none;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 8px;
  padding: 16px 60px;
  color: rgba(255, 255, 255, 1);
  font-family: "Source Serif 4";
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  width: 220px;
  max-width: 220px;
  box-sizing: border-box;
  white-space: nowrap;
}

.buttonNonColor:hover {
  background: #fff;
  color: rgba(2, 25, 57, 1);
}

.bunnerSection {
  background: rgba(2, 25, 57, 1);
}

.mentor-compare {
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 41px;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
}

.text img {
  display: none;
}

.text h2 {
  font-size: 48px;
  font-family: "Prata";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 24px;
}

.text p {
  font-size: 18px;
  font-family: "Source Serif 4";
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 40px;
}

.comparison-container {
  position: relative;
  padding: 207px 0;
  width: 100%;
  z-index: 1;
}

.comparison-image {
  height: 475px;
  width: 640px;
  max-width: 723px;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

.comparison-resize {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
  z-index: 2;
  padding: 207px 0;
}

.comparison-resize img {
  height: 475px;
  width: 640px;
  max-width: 723px;
  object-fit: cover;
  border-radius: 20px;
}

.comparison-divider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 3;
  cursor: ew-resize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comparison-divider .circle {
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 1);
  color: rgba(2, 25, 57, 1);
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  pointer-events: none;
  z-index: 99999999;
}

/* Services */
.containerServicesBlocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapperServices {
  display: flex;
  gap: 20px;
}

.whiteBlockService {
  padding: 75.5px 40px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 20px;
  height: min-content;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 388px;
  box-sizing: border-box;
}

.whiteBlockService p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4em;
  max-height: 4.2em;
}

.blueBlockService p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4em;
  max-height: 150px;
}

.wrapperTextBlock {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.marginButtonForClampText {
  margin-top: 40px;
}

.blueBlockService {
  padding: 75.5px 40px;
  background: rgba(2, 25, 57, 1);
  border-radius: 20px;
  height: min-content;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 502px;
  box-sizing: border-box;
}

.whiteBlockService h3 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Source Serif 4";
  padding-bottom: 24px;
  color: rgba(2, 25, 57, 1);
}

.blueBlockService h3 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Source Serif 4";
  padding-bottom: 24px;
  color: #fff;
}

.whiteBlockService p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Source Serif 4";
  color: rgba(38, 38, 38, 1);
}

.blueBlockService p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Source Serif 4";
  color: #fff;
}

.blueBlockService ul {
  font-size: 18px;
  font-weight: 400;
  font-family: "Source Serif 4";
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 16px;
  padding-top: 16px;
}

.buttonBlockMargin {
  margin-top: 40px;
}

.buttonWhite {
  background: #fff;
  border-radius: 8px;
  padding: 16px 60px;
  color: rgba(2, 25, 57, 1);
  font-family: "Source Serif 4";
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  width: 220px;
  max-width: 220px;
  box-sizing: border-box;
  white-space: nowrap;
}

.buttonWhite:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  background: none;
}

.buttonBlue {
  background: rgba(2, 25, 57, 1);
  border-radius: 8px;
  padding: 16px 60px;
  color: #fff;
  font-family: "Source Serif 4";
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  width: 220px;
  max-width: 220px;
  box-sizing: border-box;
  white-space: nowrap;
}

.buttonBlue:hover {
  border: 1px solid rgba(2, 25, 57, 1);
  color: rgba(2, 25, 57, 1);
  background: none;
}

.bottomBlockMargin {
  margin-top: -111px;
  padding-bottom: 116px;
}

/* Reviews */
.slider-container {
  position: relative;
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}

.wrapperSlider {
  position: relative;
  margin: 0 auto;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 38px;
}

.slide {
  flex: 0 0 50%;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.slide h4 {
  margin: 0 0 10px;
}

.nav-btn {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  font-size: 20px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border: none;
  background: none;
}

.nav-btn img {
  width: 20px;
  height: 20px;
}

.prev-btn {
  left: -40px;
  transform: rotate(180deg);
  top: 40%;
}

.next-btn {
  right: -50px;
}

/* accordion */

.accordion {
  max-width: 790px;
  font-family: sans-serif;
  margin-bottom: 100px;
  max-height: 430px;
  overflow-y: auto;
}

.accordion-item {
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  padding: 40px 0;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px;
}

.accordion-header h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Source Serif 4";
  color: rgba(2, 25, 57, 1);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 15px;
}

.accordion-content p {
  padding-top: 20px;
  color: rgba(38, 38, 38, 1);
  font-size: 18px;
  font-weight: 400;
}

.accordion-item.active .accordion-content {
  max-height: 300px;
}

.toggle-icon {
  width: 18px;
  height: 18px;
  transition: transform 0.3s ease;
}

.accordion-item.active .toggle-icon {
  transform: rotate(45deg);
}

.logo-slide img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  max-height: 120px;
  width: auto;
  display: block;
  margin: 0 auto;
}

.logo-slide img:hover {
  filter: grayscale(0%);
}

.swiper {
  padding-top: 0px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  padding-bottom: 40px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(217, 217, 217, 1);
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgba(2, 25, 57, 1);
}

.wrapperWork {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.wrapperWork .blockImage,
.wrapperWork .blockContent {
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 20px;
}
.wrapperWork .blockImage {
  padding: 60px 108px;
  max-width: 790px;
  min-width: 340px;
  height: 848px;
  box-sizing: border-box;
}

.wrapperWork .blockImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% center;
  border-radius: 20px;
}

.wrapperWork .blockContent {
  padding: 44px 0;
  max-width: 790px;
  min-width: 340px;
  box-sizing: border-box;
  height: 848px;
  overflow-y: auto;
}

.stepsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.step {
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  padding: 16px 40px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.stepsWrapper .step:last-child {
  border: none;
}

.stepHeader {
  display: flex;
  gap: 16px;
  align-items: center;
}

.stepHeader h3,
.stepHeader p {
  font-family: "Source Serif 4";
  color: rgba(2, 25, 57, 1);
}

.stepHeader span {
  font-family: "Source Serif 4";
  color: rgba(38, 38, 38, 1);
}

.stepHeader h3 {
  font-weight: 700;
  font-size: 32px;
}

.step p,
.stepHeader span {
  font-weight: 400;
  font-size: 18px;
}

.wrapperTeam {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 100px;
  justify-content: center;
}

.teammate {
  position: relative;
  width: 345px;
  border-radius: 40px;
  overflow: hidden;
}

.teammate img {
  width: 100%;
  height: 100%;
}
.teammateContent {
  position: absolute;
  padding: 4px 0;
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  bottom: 60px;
  margin: 0 25px;
  text-align: center;
  max-width: 295px;
}

.teammateContent h4,
.teammateContent p {
  color: rgba(38, 38, 38, 1);
  font-family: "Source Serif 4";
}

.teammateContent h4 {
  font-size: 20px;
  font-weight: 700;
}

.teammateContent p {
  font-size: 18px;
  font-weight: 400;
}

.desktop-slider {
  display: block;
}
.mobile-slider {
  display: none;
}

@media (max-width: 1470px) {
  .wrapperWork {
    align-items: start;
  }

  .wrapperWork .blockImage {
    height: 848px;
    min-width: 500px;
    padding: 60px 50px;
  }
  .wrapperWork .blockImage img {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .desktop-slider {
    display: none;
  }
  .mobile-slider {
    display: block;
  }
}

@media (max-width: 768px) {
  .slide {
    flex: 0 0 100%;
    padding: 16px;
  }

  /* .slider-container {
    gap: 20px;
  } */

  .slider-container {
    overflow: hidden;
    gap: 0px;
  }

  .slider-wrapper {
    gap: 0;
  }

  .sectionWrapper p {
    width: 100%;
  }

  .slide h4 {
    text-align: center;
  }

  .slide p {
    width: 100%;
    text-align: center;
  }
}

/* Calendar */

.calendar-container {
  display: flex;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 20px;
  justify-content: space-between;
  gap: 107px;
}

.calendar {
  max-width: 728px;
  width: 100%;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 29px;
  font-weight: bold;
}

.calendar-header button {
  padding: 12px 16px;
  padding-bottom: 11px;
  background: #fff;
  border: 1px solid rgba(217, 217, 217, 1);
  display: flex;
  gap: 2px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Source Serif 4";
}

#monthYear {
  font-size: 28px;
  font-weight: 700;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* .wrapperCalendar {
  border: 1px solid #000;
} */

.day,
.date {
  text-align: center;
  width: 104px;
  height: 104px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(2, 25, 57, 1);
  font-size: 22px;
  font-weight: 500;
  font-family: "Inter";
}

.day {
  font-weight: bold;
  background: #f0f0f0;
  border: 1px solid rgba(234, 234, 234, 1);
}

.date {
  background: #fff;
  cursor: pointer;
  position: relative;
  transition: background 0.3s;
  border: 1px solid #000;
  border-width: 1.3px 1.3px 1.3px 1.3px;
  border-style: solid;
  border-color: rgba(234, 234, 234, 1);
}

.date:hover {
  background: #e3e3e3;
}

.date.active {
  background: rgba(2, 25, 57, 1);
  color: #fff;
}

.date.active .dotCalendar {
  background: #fff;
}

.date.other-month {
  color: rgba(169, 169, 169, 1);
}

.date.other-month:hover {
  background: #fff;
}

.dotCalendar {
  width: 6px;
  height: 6px;
  background: rgba(2, 25, 57, 1);
  border-radius: 50%;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}

.selected-date-title {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  font-size: 18px;
  color: rgba(2, 25, 57, 1);
  font-weight: 400;
}

.selected-date-title span {
  border: 1px solid rgba(2, 25, 57, 1);
  padding: 2px 15px;
  font-weight: 700;
}

.event-list {
  /* width: 40%;
  padding-left: 20px;
  border-left: 1px solid #ddd; */
  max-width: 675px;
  width: 100%;
}

.event-list h3 {
  margin-top: 0;
}

.event {
  padding: 30px 0;
  border-bottom: 1px solid rgba(217, 217, 217, 1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.event-time {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(2, 25, 57, 1);
  gap: 4px;
}

.event-time img {
  width: 20px;
  height: 20px;
}

.event-title a {
  font-weight: 700;
  font-size: 20px;
  color: rgba(2, 25, 57, 1);
  text-transform: uppercase;
  text-decoration: none;
}

.event-title a:hover {
  text-decoration: underline;
}

.event-desc {
  color: rgba(169, 169, 169, 1);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.noData {
  padding-top: 30px;
  color: rgba(169, 169, 169, 1);
  font-size: 16px;
  font-weight: 400;
}

.read-more-btn {
  display: none;
}

.slideImg {
  object-fit: none !important;
}

/* gallery */
.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.slide-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top-row,
.bottom-row {
  display: flex;
  gap: 10px;
}
.top-row img {
  width: calc(50% - 5px);
  border-radius: 20px;
}

.top-row video {
  width: calc(50% - 5px);
  height: 675px;
  border-radius: 20px;
  object-fit: cover;
}

.bottom-row img {
  width: calc(33.333% - 7px);
  height: 520px;
  border-radius: 20px;
}

.swiper-pagination {
  bottom: -5px !important;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-top: 40px;
}

.breadcrumbsPadding {
  padding-top: 0 !important;
}

.breadcrumbs a {
  color: rgba(38, 38, 38, 1);
  font-size: 16px;
  font-family: "Source Serif 4";
  text-decoration: none;
}

.breadcrumbs img {
  width: 14px;
  height: 14px;
}

.breadcrumbs p {
  color: rgba(2, 25, 57, 1);
  font-size: 16px;
  font-family: "Source Serif 4";
  font-weight: 700;
}

/* page action */

.filterWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterSelectWrapper {
  display: flex;
  gap: 32px;
  align-items: center;
}

.filter-group {
  display: inline-block;
  position: relative;
}

.filter-group button {
  padding: 8px 20px;
  display: flex;
  gap: 74px;
  align-items: center;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 8px;
  color: rgba(38, 38, 38, 1);
  font-size: 18px;
  font-family: "Source Serif 4";
}

.filter-group button img {
  width: 14px;
  height: 14px;
  transform: rotate(180deg);
}

.dropdown-toggle {
  padding: 6px 10px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 10;
}

.filter-group.active .dropdown-menu {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 18px;
  font-family: "Source Serif 4";
  color: rgba(38, 38, 38, 1);
  border-radius: 8px;
}

.filter-group.active .dropdown-menu label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-group.active .dropdown-menu label input {
  width: 12px;
  height: 12px;
}

.wrapperItemsSelected {
  display: flex;
  gap: 40px;
  align-items: center;
}

.selected-filters {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-chip {
  display: flex;
  gap: 8px;
  align-items: center;
  background: rgba(2, 25, 57, 1);
  color: white;
  padding: 4px 12px;
  margin: 4px;
  border-radius: 8px;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: "Source Serif 4";
}

.filter-chip span {
  cursor: pointer;
}

.clearFilters {
  color: rgba(38, 38, 38, 1);
  font-family: "Source Serif 4";
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  border: none;
  outline: none;
  padding: 4px 12px;
}

.clearFilters img {
  width: 9px;
  height: 9px;
}

.toggleFiltersBtn {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #fff;
  padding: 6px 0;
  border: 0.5px solid rgba(217, 217, 217, 1);
  outline: none;
  font-size: 16px;
  color: rgba(38, 38, 38, 1);
  font-family: "Source Serif 4";
  border-radius: 4px;
}

.toggleFiltersBtn img {
  width: 16px;
  height: 16px;
}

.wrapperPartners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(690px, 1fr));
  gap: 20px;
  padding-bottom: 100px;
}

.cardPartners {
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.cardPartners img {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.cardContentPartners h3 {
  font-size: 32px;
  font-family: "Source Serif 4";
  font-weight: 700;
  color: rgba(2, 25, 57, 1);
  margin-bottom: 8px;
}

.cardContentPartners p {
  font-size: 18px;
  font-family: "Source Serif 4";
  color: rgba(38, 38, 38, 1);
  font-weight: 400;
  padding-bottom: 8px;
}

@media (max-width: 1075px) {
  .wrapperWork .blockImage img {
    width: 100%;
  }

  .wrapperPartners {
    gap: 16px;
    padding-bottom: 40px;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .cardPartners {
    border-radius: 12px;
    padding: 16px;
    flex-direction: column;
    gap: 16px;
  }

  .cardContentPartners h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .cardContentPartners p {
    font-size: 15px;
  }

  .cardPartners img {
    width: 80px;
  }
}

@media (max-width: 500px) {
  /* .cardPartners {
    flex-direction: column;
    align-items: center;
    text-align: center;
  } */

  /* .cardPartners img {
    margin-bottom: 10px;
  } */
}

@media (max-width: 1075px) {
  .filterSelectWrapper {
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-bottom: 20px;
  }

  .filterWrapper {
    display: none;
  }

  .toggleFiltersBtn {
    display: flex;
  }

  .filterWrapper.active {
    display: block;
    margin-top: 8px;
  }

  .filter-group {
    width: 100%;
  }

  .filter-group button {
    width: 100%;
    justify-content: space-between;
  }

  .filter-chip {
    margin: 0;
    gap: 8px 12px;
  }

  .selected-filters {
    flex-wrap: wrap;
  }

  .wrapperItemsSelected {
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}

.contentActionWrapper {
  padding-top: 40px;
}

.cards-section {
  padding-top: 40px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
  gap: 20px;
}

.card {
  padding: 32px;
  border-radius: 20px;
  border: 1px solid rgba(217, 217, 217, 1);
  transition: 0.3s;
}

.card h4 {
  margin: 32px 0;
  font-size: 18px;
  height: 75px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.card-date,
.card-time {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 14px;
  margin-right: 16px;
  font-size: 18px;
  font-family: "Source Serif 4";
  color: rgba(38, 38, 38, 1);
}

.card-buttons {
  display: flex;
  gap: 16px;
}

.btn-outline,
.btn-fill {
  flex: 1;
  padding: 13px 28px;
  font-size: 16px;
  font-family: "Source Serif 4";
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid rgba(217, 217, 217, 1);
  transition: 0.3s;
  white-space: nowrap;
  box-sizing: border-box;
  text-decoration: none;
}

.btn-outline {
  background: transparent;
  color: #0a1f3d;
}

.btn-fill {
  background: #0a1f3d;
  color: white;
}

.card:nth-child(odd) {
  background-color: #0a1f3d;
  color: white;
}

.card:nth-child(odd) .card-date {
  background: #fff;
}

.card:nth-child(odd) .card-time {
  background: #fff;
}

.card:nth-child(odd) .btn-outline {
  border-color: white;
  color: white;
}

.card:nth-child(odd) .btn-outline:hover {
  background: #fff;
  color: rgba(2, 25, 57, 1);
}

.card:nth-child(odd) .btn-fill {
  background: #fff;
  color: rgba(2, 25, 57, 1);
}

.card:nth-child(odd) .btn-fill:hover {
  border-color: white;
  color: white;
  background: none;
}

.card:nth-child(even) {
  background-color: white;
  color: #0a1f3d;
}

.card:nth-child(even) .card-date {
  border: 1px solid rgba(217, 217, 217, 1);
}

.card:nth-child(even) .card-time {
  border: 1px solid rgba(217, 217, 217, 1);
}

.card:nth-child(even) .btn-outline {
  border: 1px solid rgba(217, 217, 217, 1);
  color: rgba(2, 25, 57, 1);
  background: #fff;
}

.card:nth-child(even) .btn-outline:hover {
  background: rgba(2, 25, 57, 1);
  color: #fff;
}

.card:nth-child(even) .btn-fill {
  background: rgba(2, 25, 57, 1);
  color: white;
}

.card:nth-child(even) .btn-fill:hover {
  border: 1px solid rgba(2, 25, 57, 1);
  background: none;
  color: rgba(2, 25, 57, 1);
}

/* popup */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}

.modal.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  position: absolute;
  inset: 0;
}

.modal-content {
  position: relative;
  background: #fff;
  border-radius: 12px;
  padding: 44px 23px;
  width: 100%;
  max-width: 520px;
  z-index: 10;
}

.modal-content h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: "Source Serif 4";
  color: rgba(2, 25, 57, 1);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content input[type="text"],
.modal-content input[type="tel"] {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 16px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
}

.modal-content input[type="text"]::placeholder,
.modal-content input[type="tel"]::placeholder {
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: "Source Serif 4";
}

.submitBtn {
  background-color: rgba(2, 25, 57, 1);
  color: #fff;
  border: none;
  padding: 16px 60px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 24px;
  font-size: 16px;
  font-family: "Source Serif 4";
  width: min-content;
}

.link-bottom {
  display: block;
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-family: "Source Serif 4";
  text-align: center;
  color: rgba(2, 25, 57, 1);
}

/* Custom select style */
.custom-select {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
}

.select-toggle {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-family: "Source Serif 4";
}

.custom-select .select-toggle img {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
  width: 14px;
  height: 14px;
}

.custom-select.active .select-toggle img {
  transform: rotate(360deg);
}

.select-options {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: #fff;
  padding: 16px 20px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 8px;
}

.custom-select.active .select-options {
  display: flex;
}

.select-options label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-family: "Source Serif 4";
  color: rgba(38, 38, 38, 1);
}

.select-options label input {
  width: 16px;
  height: 16px;
}

.closeModal {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  color: rgba(2, 25, 57, 1);
  font-size: 24px;
  border: none;
  cursor: pointer;
}

/* page one action */

.bunnerAction {
  padding-top: 40px;
}

.bunnerAction img {
  width: 100%;
}

.paddingActionPage {
  padding-top: 60px;
}

.containerContentAction {
  margin: 0 auto;
}

.headerContentAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.headerContentAction .info {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
  font-weight: 700;
  color: rgba(38, 38, 38, 1);
}

.headerContentAction .info-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerContentAction .info-item img {
  width: 20px;
  height: 20px;
}

.buttonActionMobile {
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.buttonAction,
.buttonActionMobile {
  background-color: rgba(2, 25, 57, 1);
  color: rgba(255, 255, 255, 1);
  padding: 16px 59px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Source Serif 4";
}

.buttonAction:hover,
.buttonActionMobile:hover {
  background-color: none;
  color: rgba(2, 25, 57, 1);
  border: 1px solid rgba(2, 25, 57, 1);
}

.descriptionAction {
  font-size: 18px;
  color: rgba(38, 38, 38, 1);
  font-family: "Source Serif 4";
  margin-bottom: 16px;
}

.containerContentAction .descriptionAction:last-of-type {
  margin-bottom: 100px;
}

.text-content {
  max-height: none;
  overflow: visible;
  transition: max-height 0.3s ease;
}

.text-content ul {
  padding-left: 18px;
}

.text-content li {
  font-family: "Source Serif 4";
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1075px) {
  .bunnerAction img {
    height: 500px;
    object-fit: cover;
  }

  .bunnerAction {
    padding-top: 0;
  }

  .paddingActionPage {
    padding-top: 24px !important;
  }

  .headerContentAction {
    margin-bottom: 16px;
  }

  .headerContentAction .info {
    flex-direction: column;
    align-items: start !important;
    gap: 8px !important;
    font-size: 16px;
  }

  .headerContentAction .info-item {
    gap: 8px;
  }

  .headerContentAction .info-item img {
    width: 16px;
    height: 16px;
  }

  .buttonAction {
    display: none;
  }

  .buttonActionMobile {
    display: flex;
  }

  .containerContentAction .descriptionAction:last-of-type {
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .slide-grid {
    display: none;
  }

  .mobile-slide-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mobile-top img {
    width: 100%;
    border-radius: 12px;
  }

  .mobile-top video {
    width: 100%;
    height: 343px;
    border-radius: 12px;
    object-fit: cover;
  }

  .mobile-bottom {
    display: flex;
    gap: 10px;
  }

  .mobile-bottom img {
    width: 50%;
  }
}

@media (min-width: 769px) {
  .mobile-slide-grid {
    display: none;
  }
}

@media (max-width: 1140px) {
  .calendar-container {
    flex-direction: column;
    gap: 24px;
    width: min-content;
    margin: 0 auto;
    padding: 16px;
  }

  .event-list {
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .calendar-container {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
  .date,
  .day,
  .calendar-header #monthYear,
  .selected-date-title,
  .noData,
  .event-time,
  .event-title a,
  .event-desc {
    font-size: 12px !important;
  }

  .selected-date-title {
    padding-bottom: 12px;
  }

  .event {
    gap: 8px;
    padding: 12px 0;
  }

  .date,
  .day {
    height: 44px;
    width: calc(100% / 7);
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
  }

  .calendar-header button {
    font-size: 10px;
  }

  .dotCalendar {
    bottom: 4px;
  }

  .swiper-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}

/* ---------- Responsive ---------- */

@media (min-width: 768px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1440px) {
  .comparison-container {
    display: none;
  }

  .nav-wrapper {
    gap: 30px;
  }

  .text {
    display: flex;
    flex-direction: column;
  }

  .text img {
    display: block;
    padding-top: 33px;
    width: 100%;
    height: 100% !important;
  }

  .text p {
    padding-bottom: 24px;
  }

  .text h2 {
    padding-bottom: 16px;
  }

  .mentor-compare {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 16px;
  }
}

@media (max-width: 734px) {
  .cards-section .card h4 {
    height: auto;
  }
}

@media (max-width: 1075px) {
  .modal-content {
    max-width: 375px;
  }

  .closeModal {
    width: 16px;
    height: 16px;
  }

  .modal-content h2 {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .submitBtn {
    width: 100%;
    margin-top: 8px;
  }

  .cards-section {
    padding-top: 24px;
  }

  .cards-grid {
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    gap: 16px;
  }

  .cards-section .card {
    padding: 20px;
  }

  .cards-section .card h4 {
    margin: 20px 0;
    font-size: 18px;
  }

  .card-buttons {
    flex-direction: column;
  }

  .card-date,
  .card-time {
    font-size: 15px;
    border-radius: 4px;
  }
  .wrapperWork {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
  }

  .wrapperWork .blockImage {
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    height: auto;
    min-width: auto;
  }

  .wrapperWork .blockImage img {
    border-radius: 10px;
    width: 100%;
  }

  .wrapperWork .blockContent {
    padding: 8px 0;
    height: auto;
  }

  .wrapperWork .blockContent .step {
    padding: 16px;
    gap: 16px;
  }

  .wrapperWork .blockContent .step h3 {
    font-size: 18px;
  }

  .wrapperWork .blockContent .step span,
  .wrapperWork .blockContent .step p {
    font-size: 15px;
  }

  .breadcrumbs {
    display: none;
  }

  .wrapperTeam {
    gap: 16px;
    padding-bottom: 40px;
  }

  .teammate {
    width: 163px;
    border-radius: 12px;
  }

  .teammateContent {
    padding: 2px 0;
    gap: 2px;
    border-radius: 8px;
    bottom: 16px;
    margin: 0 11px;
    max-width: 143px;
  }

  .teammateContent h4 {
    font-size: 12px;
  }

  .teammateContent p {
    font-size: 10px;
  }

  .LeftImageMargin {
    margin-right: 16px;
  }
  .WrapperForImageAbout img {
    max-width: calc(50% - 8px);
  }
  .prev-btn {
    left: -38px;
  }

  .next-btn {
    right: -38px;
  }

  .buttonBlue,
  .buttonNonColor,
  .buttonWhite {
    width: 100%;
    max-width: 100%;
  }

  .wrapperSlider {
    width: 100%;
  }

  /* .clamped-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: max-height 0.3s ease;
  }

  .clamped-text.expanded {
    -webkit-line-clamp: unset;
    max-height: none;
  } */

  .contentAbout {
    gap: 16px;
  }

  .text p {
    font-size: 16px;
  }

  .text h2 {
    font-size: 28px;
  }

  .read-more-btn {
    font-size: 16px;
    font-weight: 400;
    color: rgba(38, 38, 38, 1);
    text-decoration: underline;
    background: none;
    border: none;
    padding: 8px 0px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
  }

  .accordion-content p {
    font-size: 16px;
  }

  .accordion-header h3 {
    font-size: 18px;
  }

  .accordion-item {
    padding: 16px 0;
  }

  .logo-slide img {
    filter: grayscale(0%);
  }
  .containerQuestion {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .accordion {
    margin: 0 auto;
    margin-bottom: 40px;
    max-height: 265px;
  }

  .whiteBlockService h3,
  .blueBlockService h3 {
    font-size: 18px;
    padding-bottom: 12px;
  }
  .whiteBlockService p,
  .blueBlockService p {
    font-size: 15px;
  }

  .marginButtonForClampText {
    margin-top: 24px;
  }

  .wrapperServices,
  .containerServicesBlocks {
    flex-direction: column;
    gap: 16px;
  }

  .blueBlockService ul {
    font-size: 15px;
  }

  .reverseBlock {
    flex-direction: column-reverse;
  }

  .bottomBlockMargin {
    margin-top: 0;
    padding-bottom: 24px;
  }

  .buttonBlockMargin {
    margin-top: 24px;
  }

  .whiteBlockService {
    padding: 24px 16px;
    height: auto;
    min-height: auto;
    width: 100%;
  }

  .blueBlockService {
    padding: 24px 16px;
    height: auto;
    min-height: auto;
    width: 100%;
  }

  .sectionWrapper {
    padding: 0 16px;
    padding-top: 40px;
    box-sizing: border-box;
  }
  .sectionWrapper h2 {
    padding-bottom: 16px;
    font-size: 28px;
  }
  .logo img {
    width: 96px;
    height: 40px;
  }
  .header {
    padding: 16px;
  }
  .lang-select-wrapper {
    display: none;
  }
  .nav {
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 99999;
    height: 100vh;
    padding: 28px 16px;
    box-sizing: border-box;
  }

  .nav.open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .closeButton {
    display: block;
  }

  .nav-list {
    flex-direction: column;
    padding: 16px;
    gap: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .nav-list li {
    padding: 16px 0;
    border-bottom: 0.5px solid rgba(245, 245, 245, 1);
    width: 100%;
    text-align: end;
  }

  .burger {
    display: flex;
  }

  .toggle-wrapper {
    display: inline-flex;
    border: 1px solid rgba(2, 25, 57, 1);
    border-radius: 300px;
    overflow: hidden;
    cursor: pointer;
    font-family: sans-serif;
    user-select: none;
    margin-bottom: 18px;
  }

  .toggle-option {
    padding: 3px 8px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }

  .ukr {
    background-color: rgba(2, 25, 57, 1);
    color: white;
    font-family: "Source Serif 4";
    font-size: 16px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .eng {
    background-color: white;
    font-family: "Source Serif 4";
    font-size: 16px;
    color: rgba(2, 25, 57, 1);
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .toggle-wrapper.active .ukr {
    background-color: white;
    color: rgba(2, 25, 57, 1);
  }

  .toggle-wrapper.active .eng {
    background-color: rgba(2, 25, 57, 1);
    color: white;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #00193a;
    background-color: transparent;
    transition: background-color 0.3s;
  }

  .ukr .dot {
    background-color: white;
  }

  .eng .dot {
    background-color: rgba(2, 25, 57, 1);
  }

  .toggle-wrapper.active .ukr .dot {
    background-color: rgba(2, 25, 57, 1);
  }

  .toggle-wrapper.active .eng .dot {
    background-color: white;
  }

  .closeButton {
    position: absolute;
    top: 32px;
    left: 30px;
  }

  .closeButton img {
    width: 11px;
    height: 11px;
  }

  footer {
    padding: 40px 16px;
  }

  .footerWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .footer-left {
    gap: 24px;
  }

  .footer-right {
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
  }

  .social-icons {
    margin-bottom: 12px;
    margin-top: 0;
  }

  .footer-nav {
    gap: 16px 41px;
  }

  .language-select {
    display: none;
  }

  .MinPadding {
    padding-bottom: 8px !important;
  }

  .swiper {
    padding-top: 0px;
  }

  .aboutPagePadding {
    padding-top: 24px !important;
  }

  .text-content {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .text-content.expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
    display: block;
  }

  .read-more-btn {
    display: inline-block;
  }
}

/* @media (min-width: 1076px) {
  .read-more-btn {
    display: none;
  }
} */

@media (max-width: 552px) {
  .teammate {
    width: 47%;
  }
}

.slider-viewport {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 16px;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.slide h4 {
  color: rgba(2, 25, 57, 1);
  font-weight: 700;
  font-family: "Source Serif 4";
  font-size: 20px;
}

.slide p {
  color: rgba(38, 38, 38, 1);
  font-weight: 400;
  font-family: "Source Serif 4";
  font-size: 18px;
}

@media (min-width: 769px) {
  .slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 769px) {
  .slide h4 {
    font-size: 18px;
  }

  .slide p {
    font-size: 16px;
  }
}
